<h3 class='sidebar-title'>最新评论</h3>
<div class='sidebar-content'>
<ul>
{% for entry in entries %}
   <li><a href="/blogs/{{entry.blog_id}}/comments" title="查看更多评论">{{entry.title}}</a></li>
{% endfor %}
</ul>
</div>