<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li class="hot"><a href="/manage/blogs">日志管理</a></li>
        <li><a href="/manage/blogs/new">写新日志</a></li>
        <li><a href="/manage/blogs/drafts">草稿箱</a></li>
        <li><a href="/manage/themes">模板设置</a></li>
        <li><a href="/manage/categories">分类管理</a></li>
        <li><a href="/manage/comments">评论管理</a></li>
        <li><a href="/manage/sidebars">栏目管理</a></li>
        <li><a href="/manage/blog_configs">博客设置</a></li>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>
