<div class="p_m1">
    <div class="m1_bg">
      <ul class="L">
        <% if params[:controller] == 'manage/user_profiles' %>
          <li class="hot">我的空间</li>
        <%else%>
          <li><a href="/manage/user_profiles"> 我的空间 </a></li>
       <%end%>
        <li class="border"></li>
        <% if params[:controller] =~ /blogs|categories|comments|themes/%>
           <li class="hot">博客</li>
        <%else%>
           <li class="hot"><a href="/manage/blogs">博客</a></li>
        <%end%>
        <li class="border"></li>
        <li><a href="">相册</a></li>
        <li class="border"></li>
        <li><a href="">活动</a></li>
        <li class="border"></li>
        <% if params[:controller] == 'manage/messages' %>
            <li class="hot">公告</li>
        <%else%>
            <li><a href="/manage/messages">公告</a></li>
        <%end%>
        <li class="border"></li>
        <li><a href="">交易</a></li>
        <li class="border"></li>
      </ul>
      <P class="R"><a href="">安全退出</a></P>
    </div>
  </div>