<div class="box">
  <div class="title1"><p>最近访客</p><a href="#"><img src="/images/default/more1.gif" alt="更多"></a></div>
  <div class="height12"></div>
  <div class="visit">
    <a href="#"><img src="/images/default/friend_tu.gif"></a>
    <dl>
      <dt><a href="#">毛主席的小红兵</a></dt>
      <dd>1.5小时前</dd>
    </dl>
    <div class="height12"></div>
    <a href="#"><img src="/images/default/friend_tu.gif"></a>
    <dl>
      <dt><a href="#">毛主席的小红兵</a></dt>
      <dd>1.5小时前</dd>
    </dl>
    <div class="height12"></div>

    <a href="#"><img src="/images/default/friend_tu.gif"></a>
    <dl>
      <dt><a href="#">毛主席的小红兵</a></dt>
      <dd>1.5小时前</dd>
    </dl>
    <div class="height12"></div>
    <a href="#"><img src="/images/default/friend_tu.gif"></a>
    <dl>
      <dt><a href="#">毛主席的小红兵</a></dt>
      <dd>1.5小时前</dd>
    </dl>
    <div class="height12"></div>
    <a href="#"><img src="/images/default/friend_tu.gif"></a>
    <dl>
      <dt><a href="#">毛主席的小ddddddd红兵</a></dt>
      <dd>1.55555555555555小时前</dd>
    </dl>
    <div class="height12"></div>
  </div>
</div>