<div class="box">
  <div class="title1"><p>音乐</p></div>
  <div class="height12"></div>
  <div class="list">
    <ul>
      <li>
        <embed src="<%= current_blog_user.blog_config.music %>"
               align="baseline" border="0" width="100%" height="25"
               type="application/x-mplayer2"
               pluginspage="http://www.microsoft.com/isapi/redir.dll?prd=windows&amp;sbp=mediaplayer&amp;ar=media&amp;sba=plugin&amp;"
               name="MediaPlayer" autostart="1" defaultframe="datawindow">
        </embed>
      </li>
    </ul>
  </div>
  <div class="height12"></div>
</div>