<div class="right2">
  <div class="dbt">
    <p><a href="/manage/blogs"><img src="/images/new/documents_32.png" align="absmiddle"></a>日志</p>
    <%= render :partial => "/manage/blogs/search" %>
  </div>
  <%= render :partial => "/manage/blogs/blog_menu" %>
  <div class="height20"></div>
  <%= render :partial => "/manage/blogs/form",:locals =>{:method_name => "put"} %>
</div>