<div class="m_l L">

  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul>
  </div>
  <div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>admin:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div>

</div><!--m_l-->

<div class="m_r">

  <!--person_menu-->
<%=  render :partial => "/manage/blogs/person_menu" %>
<!--person_menu-->

  <div class="manage_m L">
    <h2>日志管理</h2>
    <p class="L">分类：<select name="" >
        <option value="1" selected="selected">全部日志分类</option>
        <option value="2">生活</option>
        <option value="3">技术</option>
    </select></p>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td class="tit" width="37"></td>
        <td class="tit" width="37">显示</td>
        <td class="tit" width="283">标题</td>
        <td class="tit" width="87">分类</td>
        <td class="tit" width="110">作者</td>
        <td class="tit" width="110">日期</td>
        <td class="tit" width="50">评论</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">已经搬家，重新开张</td>
        <td class="m_border">精彩生活</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">3</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">究竟什么是Inversion of Control (or IoC for short)？ </td>
        <td class="m_border">技术研究</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">5</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add4.gif"/></a></td>
        <td class="a_tit m_border">今天开始新的旅程 </td>
        <td class="m_border">私人日志</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">4</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">已经搬家，重新开张</td>
        <td class="m_border">精彩生活</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">3</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">究竟什么是Inversion of Control (or IoC for short)？ </td>
        <td class="m_border">技术研究</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">5</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add4.gif"/></a></td>
        <td class="a_tit m_border">今天开始新的旅程 </td>
        <td class="m_border">私人日志</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">4</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">已经搬家，重新开张</td>
        <td class="m_border">精彩生活</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">3</td>
      </tr>
      <tr>
        <td class="m_border"><input name="celect" type="checkbox" value="" /></td>
        <td class="m_border"><a href=""><img src="/images/ico_add3.gif"/></a></td>
        <td class="a_tit m_border">究竟什么是Inversion of Control (or IoC for short)？ </td>
        <td class="m_border">技术研究</td>
        <td class="m_border">pawa</td>
        <td class="m_border">2008-09-03</td>
        <td class="m_border">5</td>
      </tr>
      <tr>
        <td><input name="celect" type="checkbox" value="" /></td>
        <td><a href=""><img src="/images/ico_add4.gif"/></a></td>
        <td class="a_tit">今天开始新的旅程 </td>
        <td>私人日志</td>
        <td>pawa</td>
        <td>2008-09-03</td>
        <td>4</td>
      </tr>
    </table>
    <input class="delete" name="delete" type="button" value="删 除" />
    <select name="" >
      <option value="1" selected="selected">转移到分类</option>
      <option value="2">精致生活</option>
      <option value="3">技术研究</option>
    </select>
  </div>

</div><!--m_r-->

