<script>if (top.location != self.location)top.location=self.location;</script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 客户世界 - 呼叫中心 | 客户管理 | 数据营销 | 服务外包 - [http://www.ccmw.net]</title>
<meta name="keywords" content="客户，呼叫中心，CTI，call center，CRM，contact center，customer，联络中心，客户服务，客户关怀，客户关系，客户管理，客户忠诚，客户分析，客户挽留，客户洞察，客户获取，客户识别，客户发展，直复营销，电话营销，数据库营销，数据分析，服务营销，VoIP" />
    <link href="/stylesheets/space.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/prototype.js" type="text/javascript"></script>
    <script src="/javascripts/effects.js" type="text/javascript"></script>
    <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
    <script src="/javascripts/controls.js" type="text/javascript"></script>
    <script src="/javascripts/dhtmlwindow.js" type="text/javascript"></script>
    <script src="/javascripts/manage.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/calendar_date_select/calendar_date_select.js" type="text/javascript"></script>
    <script src="/javascripts/calendar_date_select/format_db.js" type="text/javascript"></script>
    <link href="/stylesheets/calendar_date_select/default.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="warp">

	<div id="top">
		<div id="logo" class="L">
			<a href="/"><img class="L logo" src="http://www.ccmw.net/images/logo.gif"/></a>
			<p class="L">中国客户管理人的门户网站</p>
		</div>
		<div id="top_ad" class="R">
		</div>
	</div><!--id:top-->


	<div id="main" class="person L">
		<div class="p_top L">
			<P class="person_info L"><font style="font-size:14px;font-weight:bold;">欢迎</font> <font style="font-size:18px;font-weight:bold;color:#de363a;"><%= current_user.real_name %></font>
                            <!--（有20人来过）<font style="color:#999;"> 你可以在这留下你的独特签名...</font> <a class="red_underline" href="">编辑</a>--></P>
			<P class="R">
				<a href="/">首页</a>|
				<a href="/blog">博客</a>|
				<a href="/news">新闻</a>|
				<a href="/libary">文库</a>|
				<a href="/vendors">供应商</a>|
				<a href="/specialists">专家</a>|
				<a href="/journals">期刊</a>|
				<a href="">论坛</a>
			</P>
		</div>

               <%= yield  %>

		<div id="friend" class="border"> 
			<!--p><b>友情链接：</b>
                  <a href="http://tech.sina.com.cn/" target="_blank">新浪科技</a> |
                  <a href="http://e.chinabyte.com/" target="_blank">比特网</a> |
                  <a href="http://www.e800.com.cn/" target="_blank">亿八佰</a> |
                  <a href="http://www.ctiforum.com/" target="_blank">CTI论坛</a> |
                  <a href="http://www.zdnet.com.cn/news" target="_blank">CNET科技资讯网</a> |
                  <a href="http://www.ciotimes.com/" target="_blank">CIO时代</a> |
                  <a href="http://www.topoint.com.cn/" target="_blank">支点网</a> |
                  <a href="http://www.microvoip.com/" target="_blank">全球VoIP联盟</a> |
                  <a href="http://www.amteam.org/" target="_blank">AMT</a> |
                  <a href="http://www.surprising.cn/" target="_blank">中国服务营销网</a> |
                  <a href="http://www.chinabi.net/" target="_blank">中国商业智能网</a> |
                  <a href="http://www.51callcenter.com/" target="_blank">51Callcenter</a> |
                  <a href="http://www.imkt.com.cn/" target="_blank">中国整合营销网</a> |
                  <a href="http://www.cncca.net/" target="_blank">CNCCA</a> |
                  <a href="http://www.iiso.org.cn/" target="_blank">信息服务外包网</a> |
                  <a href="http://www.121dm.cn/" target="_blank">121直复营销网</a> |
                  <a href="http://www.vsharing.com" target="_blank">畅享网</a> |
                  <a href="http://www.cww.com.cn" target="_blank">通信世界</a> |
                  <a href="http://www.ebworld.com.cn" target="_blank">电子商务世界</a> |
                  <a href="http://www.ccidnet.com" target="_blank">赛迪网</a> |
                  <a href="http://www.bizteller.cn/" target="_blank">企业档案在线</a> |
                  <a href="http://www.chnsourcing.com/" target="_blank">Chinasourcing</a> |
                  <a href="http://www.ccw.com.cn/" target="_blank">计世网</a> |
                  <a href="http://www.ceocio.com.cn/" target="_blank">IT经理世界</a> |
                  <a href="http://www.ctocio.com.cn/" target="_blank">IT专家网</a> |
                  <a href="http://www.prnews.cn/" target="_blank">中国商业电讯</a> |
                  <a href="http://www.iresearch.cn/" target="_blank">艾瑞网</a> |
                  <a href="http://www.csai.cn/" target="_blank">希赛网</a> |
                  <a href="http://www.cpw.com.cn/" target="_blank">电脑商报</a> |
                  <a href="http://www.ciweekly.com/" target="_blank">互联网周刊</a> |
                  <a href="http://www.ccidcom.com/" target="_blank">通信产业网</a> |
                  <a href="http://chinasourcing.mofcom.gov.cn/" target="_blank">中国服务外包网</a> |
                  <a href="http://www.cncs100.com/" target="_blank">中国客户服务网</a> |
                  <a href="http://www.voipchina.cn/" target="_blank">VOIP中国网</a> |
                  <a href="http://www.chinavoip.net/" target="_blank">中国VoIP论坛</a> |
        			</p-->
		</div>

	</div><!--id:main-->

	<div id="footer">
		<a href="http://www.ccmw.net/minisites/ccminfo/gsjj.htm" target="_blank">关于我们</a> &nbsp;|&nbsp;
		<a href="http://www.ccmw.net/minisites/ccminfo/adver.htm" target="_blank">广告服务</a> &nbsp;|&nbsp;
		<a href="http://www.ccmw.net/minisites/ccminfo/copyright.htm" target="_blank">版权说明</a> &nbsp;|&nbsp;
		<a href="/sitemap" target="_blank">网站地图</a> &nbsp;|&nbsp;
		<a href="http://www.ccmw.net/minisites/ccminfo/yszc.htm" target="_blank">隐私政策</a> &nbsp;|&nbsp;
		<a href="mailto:caojian@ccmworld.net">欢迎赐稿</a> &nbsp;|&nbsp;
		<a href="index.html">网站首页</a><br/>
    Copyright &copy;2002-2008 CCMworld Group All rights reserved.<br/>
    <a href="http://www.ccmw.net" target="_blank">客户世界机构</a> 版权所有 京ICP备05038078号
	</div>

</div><!--id:warp-->


</body>
</html>
