<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li><a href="/manage/photos/new">上传图片</a></li>
        <li><a href="/manage/photos">浏览图片</a></li>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>