<%=  render :partial => "/manage/share/left" %>
<div class="m_r">
  <!--person_menu-->
  <%=  render :partial => "/manage/photos/photo_menu" %>
  <!--person_menu-->
  <div class="m">
    <h3>博客相册</h3>
    <% form_for :photo,:url => "/manage/photos",:html => {:id => "picture_form",:multipart => true} do |f| %>
      <fieldset class="fieldsetclass">
        <ul>
          <li><label>新增图片</label> <input id="picture_upload" type="file" class="txt"></li>
          <li><input class="button" id="submit_button" name="button" value="提 交" type="submit"></li>
        </ul>
      </fieldset>
    <%end%>
    <script type="text/javascript">
      var json_tags = <%= @tags %>;
      var multiple_upload_picture_counter = 0;
      multiple_upload_picture($("picture_upload"), 5,json_tags);
    </script>
  </div>
</div><!--m_r-->
