<h3 class='sidebar-header'>搜索</h3>
<div class='sidebar-content'>
<form action="/" name="search_form" method='get'>
 <input name="keyword" size="15" type="text"> &nbsp;
 <input value="" style="border: 0px none ; width: 45px; height: 22px; background-image: url(/images/search_button.png);" type="button"
 onclick="if(document.search_form.keyword.value != '')  document.search_form.submit();">
</form>
</div>

