<div class="module">
<h2 class='sidebar-header'>搜索</h2>
<div class='sidebar-content'>
<form action="/" name="search_form" method='get'>
 <input name="keyword" size="15" type="text" class="textField"> &nbsp;
 <input value="搜索" class="button" type="button" onclick="if(document.search_form.keyword.value != '')  document.search_form.submit();">
</form>
</div>
</div>