<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li><a href="/manage/friends">我的好友</a></li>
        <li><a href="/manage/friends/search">搜索好友</a></li>
        <%#*<li><a href="/manage/friends/invite">邀请好友</a></li>%>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>