<%=  render :partial => "/manage/share/left" %>

<div class="m_r">
<!--person_menu-->
<%=  render :partial => "/manage/share/blog_menu"%>
<!--person_menu-->
  <div class="blog_write_m L">
    <h2>修改日志</h2>
    <div class="blog_write_top clear"></div>
     <%= render :partial => "/manage/blogs/form",:locals => {:method_name => :put} %>
    <div class="blog_write_bottom clear"></div>
  </div>
</div><!--m_r-->

