<h1>Listing topic_comments</h1>

<table>
  <tr>
  </tr>

<% for topic_comment in @topic_comments %>
  <tr>
    <td><%= link_to 'Show', topic_comment %></td>
    <td><%= link_to 'Edit', edit_topic_comment_path(topic_comment) %></td>
    <td><%= link_to 'Destroy', topic_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic_comment', new_topic_comment_path %>
