<div class="qun_top">
  <% form_tag "/manage/user_groups/search",:onsubmit => "return this.keyword.value != this.keyword.defaultValue && this.keyword.value != ''" do %>
    <input class="txt" name="keyword" type="text" value="搜索群组..." size="20" maxlength="20" onclick="if(this.value==this.defaultValue) this.value=''">
    <input class="button" name="button" type="submit" value="搜 索">
  <%end%>
  <a href="/manage/user_groups/new"><img class="add" src="/images/add_new_red.gif"/></a>
  <h2 class="<%=  info_class%>"><%= info %></h2>
</div>