    <script>set_current_channel('cms')</script>
    <h2>Manage Channels</h2>

    <%= render :partial => 'tree' %>
    
    <div  style="float:left">
      <div id="channel-form">
      </div>
    </div>
    
    
