    <script>set_current_channel('cms')</script>
    <h2>Manage Channels (<%= link_to_remote 'add new', :url => 'channels/new' %>) </h2>

    <%= render :partial => 'tree' %>
    
    <div  style="float:left">
      <div id="channel-form">
      </div>
    </div>
    
    