<h1>Events</h1>
<%= render :partial => 'articles', :object => @events %>

<h1>Newsletters</h1>
<%= render :partial => 'articles', :object => @newsletters %>

<h1>Files</h1>
<%= render :partial => 'files', :object => @files %>