<%unless current_user %>
  <div class="w100" id="login_bar_div">
    <%= render :partial => '/active/login_bar' %>    
  </div>
<%else%>
  <div class="w100" id="login_bar_div">
    <%= render :partial => '/active/login_info' %>    
  </div>
<%end%>