<div class="left">
  <div class="onebg">
           	  <div class="bt6"><div class="name fht20 red">奖项设置</div></div>
                <div class="h12"></div>
                <div class="w90 ainfo_nr">
                      <div class="h12"></div>
                      <p><br />
                  【奖项设置】 
                  <br />
                  1．大赛设个人&quot;耳唛天使&quot;金奖10名。奖品为价值5000元人民币的现金或礼品。<br />
                  2．设个人&quot;耳唛天使&quot;银奖30名。奖品为价值2000元人民币的现金或礼品。 <br />
                  3．设个人&quot;耳唛天使&quot;铜奖50名。奖品为价值1000元人民币的现金或礼品。<br />
                  4．设团队&quot;耳唛天使&quot;大奖2名。奖品为价值5000元人民币的现金或礼品。 <br />
                        5．设团队&quot;耳唛天使&quot;奖10名。奖品为价值1000元人民币的现金或礼品。 <br />
                  组委会将组织富有特色的颁奖活动以增加获奖个人及获奖团队之间的交流和沟通。 <br />
                  <br />
                  【活动回报】<br />
                  1．所有参选作品的作者均可获得<strong>本次活动获奖作品文集</strong>。活动各奖项的奖金、奖品总价值<strong>人民币二十万余元</strong>。<br />
                  2．出席“耳唛天使”神秘颁奖仪式，与评审委员专家及业界知名人士活动交流。<br />
                  3．获奖个人及明星团队将有机会登上《客户世界》杂志封面。 <br />
                  评选结果将在《客户世界》2010年4月杂志中发布。</p>
                  <h4>&nbsp;</h4>
              </div>
                <div class="h12"></div>
                <div class="h12"></div>
            </div>
            <div class="h12"></div>
      </div>
      <%= render :partial => "right" %>