<div class="left">
  <div class="onebg">
    <div class="bt6">
      <div class="name fht20 red">联系我们</div>
    </div>
    <div class="h12"></div>
    <div class="w90 ainfo_nr">
      <div class="h12"></div>
      <br />
      发起单位：<br />
      <strong>客户世界机构</strong>
      <br />
      地　址：北京市朝阳区东三环北路戊2号国际港A座0501室 邮编：100027<br />
      电　话：400-779-7070<br />
      活动负责人：穆春旭 <a href="mailto:mucx@ccmw.net">mucx@ccmw.net</a><br />
      团队负责人：董薇 <a href="mailto:dongwei@ccmw.net">dongwei@ccmw.net</a><br />
      学员负责人：刘刚 <a href="mailto:dongwei@ccmw.net">liugang@ccmw.net</a><br />
      <br />
      联合主办：<br />
      <strong>北京市通信行业协会呼叫中心专业委员会</strong><br/>
      <strong>上海市呼叫中心协会</strong>
      <strong>黑龙江省软件协会</strong>
      <br />

    </div>
    <div class="h12"></div>
    <div class="h12"></div>
  </div>
  <div class="h12"></div>
</div>
<%= render :partial => "right" %>