<div class="left">
        	<div class="onebg">
           	  <div class="bt6">
           	    <div class="name fht20 red">联系我们</div>
           	  </div>
                <div class="h12"></div>
                <div class="w90 ainfo_nr">
                      <div class="h12"></div>
                      <br />
                        地　址：北京市朝阳区东三环北路戊2号国际港A座0501室   邮编：100027<br />
                        电　话：400-779-7070<br />
                        编辑部：<a href="mailto:edit@ccmw.net.net">edit@ccmw.net</a><br />
                        广告部：<a href="mailto:ad@ccmw.net.net">ad@ccmw.net</a><br />
                        信息部：<a href="mailto:infomation@ccmw.net">infomation@ccmw.net</a><br />
                        培训部：<a href="mailto:training@ccmw.net">training@ccmw.net</a><br />
                        会员部：<a href="mailto:salons@ccmw.net">members@ccmw.net</a><br />
                        通用网址：<a href="http://www.ccmw.net">http://www.ccmw.net</a>/<br />
                        <br />
                        <strong class="green">帐户资料：</strong><br />
                        开户行：北京银行三元桥支行<br />
                        户　名：交通银行北京分行三元支行<br />
                      账　号：110 060 635 018 150 114 657<br />
<br />
<br />

              </div>
                <div class="h12"></div>
                <div class="h12"></div>
            </div>
            <div class="h12"></div>
        </div>
        <%= render :partial => "right" %>