
<div class="left"><div class="onebg">
    <div class="bt6">
      <div class="name fht20 red">大赛新闻</div>
    </div>
    <div class="h12"></div>
    <div class="alist2">
      <ul>
        <% @articles.each_with_index do |article,index| %>
          <li>
            <a href="<%= article.article_permalink %>"><%= article.title %></a>
            <span class="fve9 huise">[<%= DateUtil.time_day_and_month(article.created_at) %>]</span>
          </li>
        <%end%>
      </ul>
      <div class="h12"></div>
    </div>
    <div class="h12"></div>
    <div class="pages">
    </div>
    <div class="h12"></div>
    <div class="h12"></div>
  </div>
  <div class="h12"></div>
</div>
<%= render :partial => "right" %>


