<div class="left">
        	<div class="onebg">
           	  <div class="bt6"><div class="name fht20 red">赛事安排</div></div>
                <div class="h12"></div>
                <div class="w90 ainfo_nr">
                      <div class="h12"></div>
                      <h4><br />
                      中国金融客户管理峰会为四川加油</h4>
                      | 来源：<a href="/">客户世界</a> | 2008-07-19 01:08:03
                      <p>[ 客户世界消息 ]2008年7月18日，成都。今天，“<a href="http://www.ccmw.net/minisites/salons/">客户世界系列主题论坛</a>——<a href="http://www.ccmw.net/articles/show/25740">中国金融客户管理峰会</a>”在成都新国际会展中心隆重举行。本次会议关注混业经营下的金融客户价值提升，为震后恢复对四川服务外包业的信心而举办。会议云集国内顶尖金融机构的高层管理者以及世界领先的咨询机构的资深行业顾问，试图通过“思想家”和“实践者”的观点碰撞激发出产业发展的火花。会议由中国电信呼叫外包服务中心（成都）公司及恒生电子股份有限公司协办，通过封闭式内部论坛的组织形式，达到了深度研讨的会议目标。</p>
                      <p align="center"><img height="278" alt="" src="/images/active/2(215).gif" width="600" /></p>
                      <p>与会的金融行业客户管理高层主管分别就全球金融业呼叫中心的发展趋势、金融呼叫中心的集中化运营与区域化配置、客户满意度研究在金融行业的应用、银保合作提升金融客户价值、金融统一服务、金融呼叫中心的管理变革与客户价值提升等议题组织了逐项研讨。德勤咨询公司高级咨询经理Jeffery   Bowen、Benson   Shum、丰祖军，IBM全球服务（中国）公司高级咨询经理张东恒，科罗思咨询集团中国区首席顾问唐一帆，台湾客服中心发展协会TCCDA执委萧崑龙，香港城市大学市场营销学系一级讲师毕自力，中国电信成都呼叫外包服务中心资深顾问孙必勇，恒生电子股份有限公司保险事业部总经理承孝强等专家分享了各自的管理经验。来自各地金融行业呼叫中心及巴蜀地区知名机构高层管理者超过150人集中参与了会议及研讨。会议自始至终互动热烈。取得了圆满成功。</p>
                      <p>“<a href="http://www.ccmw.net/minisites/salons/">客户世界系列主题论坛</a>”创办于2004年3月，秉持其“远离商业广告的思想碰撞”的办会宗旨，自创立起即以其纯学术、高规格、行程广、参与众等特点在中国客户关怀及管理（Customer   Care &amp;   Management）领域掀起了一股思想创新和实践变革的风潮。邀请业界领先的思想和实践领袖，汇集企业实践一线的同仁，采撷市场最新案例成果，引发本领域的思想碰撞。2008年的“客户世界系列主题论坛”活动主题确定为：行业纵深之上的呼叫中心管理提升。集中关注和研讨的行业包括：通讯、金融（银行、证券、保险、基金），外包、制造（IT、电子、通讯、汽车、机械），互联网与电子商务、政府与公用事业等相关领域。<span class="dbt"><a name="4" id="4"></a></span></p>
                      <p>与会的金融行业客户管理高层主管分别就全球金融业呼叫中心的发展趋势、金融呼叫中心的集中化运营与区域化配置、客户满意度研究在金融行业的应用、银保合作提升金融客户价值、金融统一服务、金融呼叫中心的管理变革与客户价值提升等议题组织了逐项研讨。德勤咨询公司高级咨询经理Jeffery   Bowen、Benson   Shum、丰祖军，IBM全球服务（中国）公司高级咨询经理张东恒，科罗思咨询集团中国区首席顾问唐一帆，台湾客服中心发展协会TCCDA执委萧崑龙，香港城市大学市场营销学系一级讲师毕自力，中国电信成都呼叫外包服务中心资深顾问孙必勇，恒生电子股份有限公司保险事业部总经理承孝强等专家分享了各自的管理经验。来自各地金融行业呼叫中心及巴蜀地区知名机构高层管理者超过150人集中参与了会议及研讨。会议自始至终互动热烈。取得了圆满成功。</p>
                      <p>“<a href="http://www.ccmw.net/minisites/salons/">客户世界系列主题论坛</a>”创办于2004年3月，秉持其“远离商业广告的思想碰撞”的办会宗旨，自创立起即以其纯学术、高规格、行程广、参与众等特点在中国客户关怀及管理（Customer   Care &amp;   Management）领域掀起了一股思想创新和实践变革的风潮。邀请业界领先的思想和实践领袖，汇集企业实践一线的同仁，采撷市场最新案例成果，引发本领域的思想碰撞。2008年的“客户世界系列主题论坛”活动主题确定为：行业纵深之上的呼叫中心管理提升。集中关注和研讨的行业包括：通讯、金融（银行、证券、保险、基金），外包、制造（IT、电子、通讯、汽车、机械），互联网与电子商务、政府与公用事业等相关领域。<span class="dbt"><a name="4" id="4"></a></span></p>
                    </div>
                <div class="h12"></div>
                <div class="h12"></div>
            </div>
            <div class="h12"></div>
        </div>
        <%= render :partial => "right" %>