<h3 class='sidebar-title'>最新评论</h3>
<div class='static-body'>
<ul>
{% for entry in entries %}
   <li><a href="/articles/{{entry.blog_id}}" title="查看更多评论">{{entry.title}}</a></li>
{% endfor %}
</ul>
</div>