<div class="module">
<h2 class='sidebar-header'>最新评论</h2>
<div class='sidebar-content'>
<ul>
{% for entry in entries %}
   <li><span class="author">{{entry.author}}：</span><a href="/blogs/{{entry.blog_id}}/comments" title="查看更多评论">{{entry|comment_body_extract}}</a></li>
{% endfor %}
</ul>
</div>
</div>