<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li><a href="/manage/user_groups/new">创建群组</a></li>
        <li><a href="/manage/user_groups">我的群组</a></li>
        <li><a href="/manage/topics">群组最新动态</a></li>
        <%#*<li><a href="qun_list.html">好友的群组</a></li>%>
        <li><a href="/manage/user_groups/all">全部群组</a></li>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>