<div class="right2">
  <%= render :partial => "/manage/user_groups/per_group_menu" %>
  <div class="height20"></div>
  <div class="w90">
    <div class="title1">
      <p><img src="/images/new/xjt.jpg" align="absmiddle"> 群组相册</p>
    </div>
    <% form_for :photo,:url => "/manage/user_groups/#{@user_group.id}/update_photo" do |f| %>
      <table class="admin">
        <tbody>
          <tr><td>标签</td>
            <td>
              <input class="text" id="photo_tag_list" name="photo[tag_list]" size="30" value="me" type="text">
              <select id="tag_select" name="tag_select" onchange="$('photo_tag_list').value = this.value;">
                <option value="">选择已有标签</option>
                <option value="me">me</option>
              </select> 小贴士: 多个标签可用半角逗号分开
            </td>
          </tr>
          <tr><td>名称: </td>
            <td><%= f.text_field(:title) %></td>
          </tr>
          <tr><td>描述: </td>
            <td>
              <textarea cols="40" id="photo_description" name="photo[description]" rows="20" style="width: 400px; height: 80px;"><%= @photo.description %></textarea>
            </td>
          </tr>
          <input type="hidden" name="photo_id" value="<%= @photo.id %>">
          <tr>
            <td colspan="2" style="text-align: center;"><input class="submit" id="submit_button" name="commit" value="提交" type="submit"></td>
          </tr>
        </tbody>
      </table>
    <%end%>
        <div class="height20"></div>
  </div>
  <div class="clear"></div>
</div>

