<div class="module">
<h3 class='sidebar-header'>统计数据</h3>
<div class='sidebar-content'>
<p>日志总数: {{ entries.blogs_count }}</p>
<p>评论总数: {{ entries.comments_count }}</p>
<p>访问次数: {{ entries.hits_count }}</p>
<p>建立时间: {{ entries.created_at | dateshort }}</p>
</div>
</div>