<div class="module">
<h2 class='sidebar-header'>标签</h2>
<div class='sidebar-content'>
{% for entry in entries %}
   <a href="/tag/{{entry.name}}" title="{{entry.name}}">{{entry.name}}</a>
{% endfor %}
</div>
</div>