<div class="right2">
  <div class="dbt"><p><a href="/manage/blog_configs"><img src="/images/new/user_32.png" align="absmiddle"></a> 我的资料</p><span></span></div>
  <div class="height20"></div>
  <div class="w90">
    <%= render :partial => "/manage/user_profiles/form"  %>
  </div>
  <div class="height20"></div>
</div>