<h1>Listing regards</h1>

<table>
  <tr>
  </tr>

<% for regard in @regards %>
  <tr>
    <td><%= link_to 'Show', regard %></td>
    <td><%= link_to 'Edit', edit_regard_path(regard) %></td>
    <td><%= link_to 'Destroy', regard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New regard', new_regard_path %>
