<script>set_current_channel('cms')</script>
<h2>Manage Templates (<%= link_to 'add new', :controller => 'templates', :action => 'new' %>)</h2>
<% form_tag :controller => 'admin/templates', :action => 'create' do -%>

<ul class="subsubsub">
  <li><a class="current">Add New</a></li>
</ul>

<%= render :partial => 'form' %>

<div id="ajax-response"></div>

<div class="tablenav">
    <br class="clear" />
</div>

<br class="clear" />
<% end -%>
