<li><div class='cmtBody'>{{ comment.body }}</div>
<div class='menubar'><span class='author'><a href='{{comment.space_url}}' target='_blank'>{{ comment.author }}</a> | </span> 发表于<span class='time'>{{ comment.created_at | timelong }}</span>
</li>