<% form_remote_tag :url => 'channels/update' do -%>

<ul class="subsubsub">
  <li><a class="current"><%= @channel.name %></a></li> | 
  <li><%= link_to_remote 'add new', :url => {:action => 'new', :parent_id => @channel.id} %></li>
</ul>

<%= render :partial => 'form' %>

<div id="ajax-response"></div>

<div class="tablenav">
    <br class="clear" />
</div>

<br class="clear" />
<% end -%>
