<div class="L signup">
  <div class="personal">
    <h2>个人会员</h2>
    <table cellpadding="0" cellspacing="0">

      <tr>
        <td class="tit" width="65px">普通会员</td>
        <td width="296px">您只需填写简单的资料就可以在线浏览、开通个人博客及BBS服务。</td>
        <td class="r_border" width="74px"><div class="signup_b"><a href="/signup">立即注册</a><div/></td>
      </tr>
      <tr>
        <td class="tit">银卡会员</td>

        <td>如果您愿意提供更详细的个人资料，升级您的会员资格为“好客俱乐部银卡会员”【免费】，向您提供会员刊物《客户世界》的赠阅服务。定期提供免费的呼叫中心行业报告摘要、运营手册纲要等高价值的资料。 </td>
        <td class="r_border"><div class="signup_b"><a href="/signup">立即注册</a></td>
      </tr>
      <tr class="lst">
        <td class="tit" >金卡会员</td>
        <td>您可以申请成为“好客俱乐部金卡会员”【年付费3000RMB】，可以获得更多实际增值的服务。</td>

        <td class="r_border"><div class="signup_b"><a href="/signup">立即注册</a><div/></td>
      </tr>
    </table>
  </div>

  <div class="company">
    <h2>企业会员</h2>
    <table cellpadding="0" cellspacing="0">
      <tr>

        <td class="tit" width="77px">供应商会员</td>
        <td width="284px">可以获得杂志黄页刊登1年，网站企业专栏1年，到期不续费的，专栏保留，联络信息删除或修改为管理员。<br/><br/></td>
        <td class="r_border" width="74px"><div class="signup_b"><a href="/signup">立即注册</a><div/></td>
      </tr>
      <tr class="lst">
        <td class="tit" style="border-bottom:0px;">用户会员</td>
        <td>用户会员原计划在网站设定"团队营地"，类似于团队博客。【年费4000RMB】，目前提供年度报告，年度大会门票和全年培训免费试听资格和打折资格。<br/><br/></td>

        <td class="r_border"><div class="signup_b"><a href="/signup">立即注册</a><div/></td>
      </tr>

    </table>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
  </div>

</div><!--class:m_l-->
