<h1>Editing user_profile</h1>

<% form_for(@user_profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user_profile %> |
<%= link_to 'Back', user_profiles_path %>
