<div class="dbt">
  <p><a href="#"><img src="/images/new/png-0003.png" width="36" align="absmiddle" height="36"></a>公告</p>
</div>
<div class="tabs6">
  <ul>
    <li <% if action_name == 'index' %> class="tabs66"<%end%>><a href="/manage/messages" title="公告管理"><span>公告管理</span></a></li>
    <li <% if action_name != 'index' %> class="tabs66"<%end%>><a href="/manage/messages/new" title="发布公告"><span>发布公告</span></a></li>
  </ul>
</div>