<%=  render :partial => "/manage/share/left" %>

<div class="m_r">
<!--person_menu-->
<%=  render :partial => "/manage/messages/message_menu"%>
<!--person_menu-->
 <div class="blog_write_m L">
    <h2>发布公告</h2>
    <div class="blog_write_top clear"></div>
    <div class="blog_write_center">
      <%= render :partial => "/manage/messages/form",:locals => {:method_name => :put} %>
    </div>
    <div class="blog_write_bottom"></div>
  </div>
</div><!--m_r-->

