<div class="right2">
  <%= render :partial => "/manage/messages/message_menu" %>
  <div class="height20"></div>
  <div class="height20"></div>
  <div class="w90">
    <%= render :partial => "/manage/messages/form",:locals => {:method_name => :put} %>
    <div class="height20"></div>
  </div>
</div>