<h1>Listing blog_configs</h1>

<table>
  <tr>
  </tr>

<% for blog_config in @blog_configs %>
  <tr>
    <td><%= link_to 'Show', blog_config %></td>
    <td><%= link_to 'Edit', edit_blog_config_path(blog_config) %></td>
    <td><%= link_to 'Destroy', blog_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog_config', new_blog_config_path %>
