<div class="tabs6">
  <ul>
    <li <% if action_name == 'send_for' %> class="tabs66" <%end%>><a href="/manage/gifts/send_for" title="赠送礼物"><span>赠送礼物</span></a></li>
    <li <% if action_name == 'receive' %> class="tabs66" <%end%>><a href="/manage/gifts/receive" title="收到的礼物"><span>收到的礼物</span></a></li>
    <li <% if action_name == 'send_gifts' %> class="tabs66" <%end%>><a href="/manage/gifts/send_gifts" title="送出的礼物"><span>送出的礼物</span></a></li>
  </ul>
</div>