<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
          <li class="hot"><a href="/manage/gifts/send_for">赠送礼物</a></li>
          <li><a href="/manage/gifts/receive">收到的礼物</a></li>
          <li><a href="/manage/gifts/send_gifts">送出的礼物</a></li>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>