<img src="/images/active/index_login.jpg" />
<div class="btr_mmm">
  <div class="h12" style="text-align:center"><span style="text-align:center" id="login_info"></span></div>
  <%  form_remote_tag(:url => "/active/login",:name => "login_form") do %>
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="center">
      <% fields_for :user, @user do |u_field| %>
        <tr>
          <td width="28%" height="30" align="right">用户名：</td>
          <td width="72%"><label>
              <%= u_field.text_field(:user_name,:size => 20)%>
          </label></td>
        </tr>
        <tr>
          <td height="30" align="right">密　码：</td>
          <td>
            <%= u_field.password_field(:password,:size => 20)%>
          </td>
        </tr>
      <%end%>
      <tr>
        <td height="30" align="right">&nbsp;</td>
        <td>
          <input type="submit" style="background-image:url(/images/active/btn_dl.jpg);width:66px;height:22px;" value="">
          <img src="/images/active/btn_zc.jpg" alt="注册" width="66" height="22" />
        </td>
      </tr>
    </table>
  <%end%>
  <div class="h12"></div>
</div>
<div class="btr_bbb"></div>