<img src="/images/active/index_login.jpg">
<div class="btr_mmm">
  <div class="h12"></div>
  <table class="center f14" width="90%" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td align="left" height="30"><label>欢迎您！</label></td>
      </tr>

      <tr>
        <td align="left" height="30"><%= current_user.display_user_name %> 进入本站</td>
      </tr>
      <tr>
        <td align="left" height="30">
          <%= link_to_remote "<img src='/images/active/btn_tc.jpg' alt='退出' width='66' height='22'>",:url => '/active/logout' %>
          <% if current_user && player = current_user.player %>
            <a href="http://www.ccmw.net<%= player.player_url %>" target="_blank">耳麦天使主页</a>
          <%end%>
        </td>
      </tr>
  </tbody></table>

  <div class="h12"></div>
</div>
<div class="btr_bbb"></div>