<ul><% for info in @infos do %>
                          <% unless info.nil? %>
                            <li><a href="#"><%= info.title %></a></li>
                        <%end%>
                      <%end%>
                      </ul>
