<div class="right">
  <!--共用登录表单-->
<%= render :partial => "/active/login_form" %>
      <div class="h12"></div>
      <div class="ad1">
        <a href="http://www.cncca.net/" target="_blank"><img src="/images/active/ad1.jpg" /></a>
      </div>
  <div class="h12"></div>
  <!--共用排行榜-->
  <%= render :partial => "top"  %>
            <div class="h12"></div>
            <!--共用数据统计-->
  <%= render :partial => "statistics" %>
            <div class="h12"></div>
        </div>
