<div class="onebg">
  <div class="bt6"><div class="name fht20 red">赛事安排</div></div>
  <div class="h12"></div>
  <div class="w90 ainfo_nr">
    <div class="h12"></div>
    <p><br>
      【活动前言】 <br>
      相信每一个在呼叫中心工作的人，都不会对耳唛感到陌生。它是我们心灵的窗，是迎向客户的门，是倾听、是诉说，有热忱、有委屈，它纠缠着焦虑和烦恼，也满蕴着欢乐和希望，它是我们工作的全部，带给我们生活的感动、悲喜和启迪。<br>

      耳唛是呼叫中心从业人员的工作伙伴，是我们的服务图腾。用“耳唛天使”来冠称我们的一线明星和明星班组是全社会对本行业的高度认可。<br>
      自2006 年起，连续三届的“耳唛人生”呼叫中心图文征集比赛已经成为业界颇具影响力的品牌活动，取得了非常良好的社会效果和宣传效应。参与的呼叫中心机构众多，达到了良好的效果。为进一步发掘、推荐和表彰我们呼叫中心运营一线的杰出代表，同时借举办比赛的机会，集中向全社会推广和宣传行业和企业形象，决定举办第一届“耳唛天使”呼叫中心服务明星推选活动。<br>
      为增强互动性及参与效果，决定依托业界唯一的SNS社区平台——客户世界“好客会”举行。旨在促进行业更为广泛、多元、深入的交流与分享，共同增强、提升客户服务的意识与水平，不断推动中国呼叫中心行业的专业化发展。<br>
      <br>
      【活动主题】服务也很酷 秀出真风采                          <br>
      【主办单位】客户世界机构 CCMWorld  Group&nbsp;&nbsp;<br>

      【冠名赞助】华为技术公司 HUAWEI
      <br>
      【参与对象】全国范围，在呼叫中心领域工作的个人或团队<br>
      <br>
      【参与方式】 <br>
      方式一：参赛个人或团队通过"客户世界社区"平台参与活动，开通自己的个人官网，将个人相关信息及自己原创的文章或图片上传到系统，接受网友点评及网络海选。 <br>
      方式二：参选单位集中将相关个人的参选资料提供给活动组委会，由组委会统一设置进海选平台，参与展示和评选。 <br>

      相关资料请以WORD文档保存，图片以JPEG文档保存，以电子邮件方式寄往以下信箱<a href="mailto:caojian@ccmworld.net">zhengwen@ccmw.net</a>；为方便联络选手，请提供真实姓名、公司名及详细联络方式（参与选手可以昵称参与活动）。 <br>
      <br>
      【评选办法】 <br>
      本次服务明星推选活动将分三阶段进行： <br>
      一、所有参选个人及明星团队在整个评审期内在线接受网友点评和海选，评审时综合考评点击率及网友支持率。 <br>
      二、入围参选个人集中提交评审委员会综合评判；并在此基础上征求相关单位意见；入围团队资料集中提交评审委员会综合评判； <br>

      三、评委会结合网友点评、支持率等相关因素，根据评委点评及打分，最终确认各奖项获奖名单。<br>
      <br>
      【活动时间】2009年7月1日——2010年3月30日<br>
      <br>
      【评选组委】 <br>
      <span class="greencao fb">评委会主席团： </span><br>
      客户世界机构—赵溪 <br>

      北京协会—刘燕军 <br>
      上海协会—<br>
      <span class="greencao fb">评委会委员： </span><br>
      活动负责人：刘刚 <br>
      <br>
      【奖项设置】
      <br>

      1．大赛设个人"耳唛天使"金奖10名。奖品为价值5000元人民币的现金或礼品。<br>
      2．设个人"耳唛天使"银奖30名。奖品为价值2000元人民币的现金或礼品。 <br>
      3．设个人"耳唛天使"铜奖50名。奖品为价值1000元人民币的现金或礼品。<br>
      4．设团队"耳唛天使"大奖2名。奖品为价值5000元人民币的现金或礼品。 <br>
      5．设团队"耳唛天使"奖10名。奖品为价值1000元人民币的现金或礼品。 <br>
      组委会将组织富有特色的颁奖活动以增加获奖个人及获奖团队之间的交流和沟通。 <br>

      <br>
      【活动回报】<br>
      1．所有参选作品的作者均可获得<strong>本次活动获奖作品文集</strong>。活动各奖项的奖金、奖品总价值<strong>人民币二十万余元</strong>。<br>
      2．出席“耳唛天使”神秘颁奖仪式，与评审委员专家及业界知名人士活动交流。<br>
      3．获奖个人及明星团队将有机会登上《客户世界》杂志封面。 <br>

      评选结果将在《客户世界》2010年4月杂志中发布。<br>
      <br>
      【其他事宜】： <br>
      1、客户世界机构可获得应征选手在《客户世界》杂志及网站独家发布其肖像及个人正式资料的权利。 <br>
      2、咨询电话：400-779-7070<br>
    更多信息请查阅<a href="http://www.ccmworld.net/">www.ccmw.net</a> </p>

    <h4>&nbsp;</h4>
  </div>
  <div class="h12"></div>
  <div class="h12"></div>
</div>
<%= render :partial => "right" %>