base: &base
  adapter: mysql
  #socket: /var/run/mysqld/mysqld.sock
  host: localhost
  username: root
  password: 
  

development:
  database: mush
  <<: *base

test:
  database: mush_test
  <<: *base

production:
  database: mush
  <<: *base
