<div class="right2">
  <%=  render :partial => "/manage/votes/vote_menu"%>
  <div class="height20"></div>
  <div class="w90_bd">
    <%= render :partial => "/manage/votes/form" %>
  </div>
  <div class="height20"></div>
</div>