<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Test Blog</title>
    <link href="/stylesheets/default/default.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="outer-container">
      <div class="inner-container">
        <div class="header">
          <div class="title">
            <h1 class="sitename">Blog Name</h1>
            <div class="slogan">Blog SubTitle</div>
          </div>
        </div>
        <div class="path">
          
        </div>

        <div class="main">
          <div id="content">
            {{ content }}
          </div>

          <div id="sidebar">
            <!-- search -->
             {{sidebar_content }}
            <!-- sidebar components -->
            <h3>Categories</h3>
            <ul id="categories">
              <li><a href="http://demo.typosphere.org/category/default">Default</a></li>
            </ul>

            <h3 class='sidebar-title'>Links</h3>
            <div class='static-body'><ul>
                <li><a href="http://www.typosphere.org" title="Typo">Typo</a></li>
                <li><a href="http://scottstuff.net" title="Scottstuff">scottstuff.net</a></li>
                <li><a href="http://www.bofh.org.uk" title="Just a Summary">Just A Summary</a></li>
                <li><a href="http://fredericdevillamil.com" title="Frédéric de Villamil">Frédéric de Villamil</a></li>
            </ul></div>
            <h3>Syndicate</h3>
            <ul>
              <li><a href="/xml/rss20/feed.xml" title="Articles feed">Articles</a></li>
            </ul>
          </div>
          <br style="clear:both;" />
        </div>
        <div id="footer">
          <div class="left">blog name blog base url</div>
          <div class="right">
            <a>test1</a>
            <a>test2</a>
            <a>test3</a>
            <a>test4</a>
          </div>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </body>
</html>
