<div id="friend_link">
  <form action="/manage/sidebars/friend_link/edit" method="get" onsubmit="post_sidebar_form(this);return false;">
    <textarea name="sidebar[content]">{{content}}</textarea>
    <input type="submit" value="æäº¤">
    <span  id='onload_img' style='display:none;'><img src='/images/spinner.gif' /></span>
  </form>
</div>