<h1>Listing gifts</h1>

<table>
  <tr>
  </tr>

<% for gift in @gifts %>
  <tr>
    <td><%= link_to 'Show', gift %></td>
    <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
    <td><%= link_to 'Destroy', gift, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gift', new_gift_path %>
