<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>