<div class="m_l L">
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--ul>
      <li>日志数：20</li>
      <li>评论数：15</li>
      <li>访问量：50</li>
      <li>总积分：20</li>
    </ul-->

  </div>
  <!--div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="tit border"><h6>未读评论<span style="color:#999;">（3）</span></h6></div>
    <div class="comment_m">
      <p><a href=""><b>allein：</b></a><a href="">休假的时间得好好珍惜</a></p>
      <p><a href=""><b>wangjing:</b></a><a href="">很久没有休假了吧</a></p>
      <p><a href=""><b>admin:</b></a><a href="">出趟海吧，打一网渔！</a></p>
    </div>
  </div-->

</div><!--m_l-->

<div class="m_r">
  <!--person_menu-->
  <%=  render :partial => "/manage/photos/photo_menu"%>
  <!--person_menu-->
  <div class="blog_write_m L">
    <img  src="<%= @photo.mid_link %>">
    <% form_for :photo,:url => "/manage/photos/#{@photo.id}",:html => {:method => :put} do |f| %>
      <table class="admin">
        <tbody>
          <tr><td>标签</td>
            <td>
              <input class="text" id="photo_tag_list" name="photo[tag_list]" size="30" value="me" type="text">
              <select id="tag_select" name="tag_select" onchange="$('photo_tag_list').value = this.value;">
                <option value="">选择已有标签</option>
                <option value="me">me</option>
              </select> 小贴士: 多个标签可用半角逗号分开
            </td>
          </tr>
          <tr><td>名称: </td>
            <td><%= f.text_field(:title) %></td>
          </tr>
          <tr><td>描述: </td>
            <td>
             <textarea cols="40" id="photo_description" name="photo[description]" rows="20" style="width: 400px; height: 80px;"><%= @photo.description %></textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center;"><input class="submit" id="submit_button" name="commit" value="提交" type="submit"></td>
          </tr>
        </tbody>
      </table>
    <%end%>
  </div>
</div><!--m_r-->
