<div class="right2">
  <div class="dbt">
    <p><a href="/manage/photos/new"><img src="/images/new/pictures_32.png" align="absmiddle"></a>上传照片</p>
    <span>
      <img src="/images/new/tb_sczp.gif" align="absmiddle"> <a href="/manage/photos/new"><strong>上传照片</strong></a>      
    </span>
  </div>  
  <%= render :partial => '/manage/photos/photo_menu' %>
  <% form_for :photo,:url => "/manage/photos",:html => {:id => "picture_form",:multipart => true} do |f| %>
  <div class="w90_bd">
    <strong>选择照片专辑</strong>
    <select name="album_id" id="photo_album_id">
      <%= generate_album_options(params[:album_id]) %>
    </select>
    <a class="grey_underline" href="javascript:void(0);" onclick="Element.toggle('ajax_album_form');return false;">+&nbsp;创建专辑</a><br>
   <ul>
    <li id="ajax_album_form" style="display:none;">
     <input type ="text" name="title" value="" id="add_album_input">
     <input type="button" value="增加" onclick="add_album()">
     <span  id='onload_img' style='display:none;'><img src='/images/spinner.gif' /></span>
   </li>
   </ul>   
    新增照片：
    <input id="picture_upload" type="file" class="txt">    
    <ul><li><input class="button" id="submit_button" name="button" value="上 传" type="submit"></li></ul>
    <div class="height20"></div>
  </div>
  <%end%>
  <script type="text/javascript">
      var json_tags = <%= @tags %>;
      var multiple_upload_picture_counter = 0;
      multiple_upload_picture($("picture_upload"), 5,json_tags);
  </script>
</div>