<%=  render :partial => "/manage/share/left" %>

<div class="m_r">
  <%=  render :partial => "/manage/friends/friends_menu" %>
  <div class="qun_m L">
    <div class="qun_top">
      <h2 class="my_friend">邀请好友</h2>
    </div>
    <div class="clear li_m">
      <div class="friend_m_b L">

      </div
    </div>
  </div>
</div>
</div><!--m_r-->