<div class="box">
  <div class="title1">
  <p>日志分类</p><a href="#"><img src="/images/call_center/more1.gif" alt="更多"></a></div>
  <div class="height20"></div>
  <div class="list">
    <ul>
      <%for category in @categories%>
      <li><a href="/blogs/category/<%= category.id %>"><%= category.name %></a> <span>[共<%= category.blog_count %>篇]</span></li>
      <%end%>
    </ul>
  </div>
  <div class="height12"></div>
</div>