<div class="box">
  <div class="title1"><p>最新投票</p><a href="#"><img src="/images/call_center/more1.gif" alt="更多"></a></div>
  <div class="height12"></div>
  <div class="vote1">
    <dl>
      <%for vote in @votes%>
      <dt><a href="#"><%= h vote.title %></a></dt>
      <dd><%= DateUtil.timelong_for_with_ling(vote.created_at) %></dd>
      <div class="height12"></div>
      <%end%>
    </dl>
  </div>
  <div class="height12"></div>
</div>