<div class="atomentry">
  <h2 class="title">
    <%= blog.title %>
  </h2>
  <div class="author">
    Posted by <cite>My self</cite>
    <abbr class="published" title="<%= blog.title %>"><%= blog.created_at %></abbr>
  </div>
  <div class="content">
    <%= h blog.body %>
  </div>
  <p class="info">
    comments info
  </p>
</div>
