<div class="m_l L">

  <div class="face L">
    <img class="border" src="images/pic_big_none.gif"/>
    <p><font style="float:left;"><a class="red_underline" href="">[更改头像]</a></font><font style="float:right;"><a class="red_underline" href="">[编辑我的资料]</a></font></p>
  </div>
  <div class="visitor">
    <div class="tit border"><h6>最近访客</h6></div>
    <div class="v_m">
      <div class="v_info L">
        <a href=""><img class="L" src="images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">xiao-fox</a></p>
        <p class="L"><a href=""><img class="add" src="images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">pawa</a></p>
        <p class="L"><a href=""><img class="add" src="images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
      <div class="v_info L">
        <a href=""><img class="L" src="images/pic_visitor.gif"/></a>
        <p class="L">昵称：<a href="">qing qing cao</a></p>
        <p class="L"><a href=""><img class="add" src="images/ico_add.gif"/></a><a href="">加为好友</a></p>
      </div>
    </div>
  </div>

</div>

<div class="m_r">

  <div class="person_menu">
    <div class="p_m1">
      <div class="m1_bg">
        <ul class="L">
          <li class="hot">我的空间</li>
          <li class="border"></li>
          <li><a href="/manage/blogs">博客</a></li>
          <li class="border"></li>
          <li><a href="">相册</a></li>
          <li class="border"></li>
          <li><a href="">活动</a></li>
          <li class="border"></li>
          <li><a href="">公告</a></li>
          <li class="border"></li>
          <li><a href="">交易</a></li>
          <li class="border"></li>
        </ul>
        <P class="R"><a href="">安全退出</a></P>
      </div>
    </div>
    <div class="p_m2">
      <div class="m2_bg">
        <ul class="L">
          <li><a href="">我的资料</a></li>
          <li><a href="">我的积分</a></li>
          <li><a href="">好友</a></li>
          <li><a href="">圈子</a></li>
          <li><a href="">小纸条</a></li>

        </ul>
      </div>
    </div>
    <div class="shadow"></div>
  </div><!--person_menu-->

  <div class="user_b L" >
    <div class="user_info">
      <h4>用户名：pawa</h4>
      <ul class="L">
        <li><a class="red_underline" href="">发表日志</a> （10）</li>
        <li><a class="red_underline" href="">参与评论</a> （8）</li>
        <li><a class="red_underline" href="">发布信息</a>（5）</li>
        <li><a class="red_underline" href="">参与活动</a> （12）</li>
        <li><a class="red_underline" href="">新收纸条</a>（3）</li>
        <li><a class="red_underline" href="">我的积分</a> （30）</li>
      </ul>
    </div>

    <div class="Guestbook clear">
      <div class="tit border"><h6>留言板</h6></div>
      <form>
        <textarea name="guestbook" cols="62" rows="5"></textarea>
        <input class="button" name="submit" type="button" value="发表留言">
      </form>
      <div class="line"></div>
      <div class="txt_b">
        <P><font class="L">2008-09-05 <a href="">pawa</a></font><font class="R"><a class="red_underline" href="">删除</a></font></P>
        <P class="clear"><a href="">能有个假期真好啊！</a></P>
      </div>
      <div class="txt_b">
        <P><font class="L">2008-09-05 <a href="">xiao-fox</a></font><font class="R"><a class="red_underline" href="">删除</a></font></P>
        <P class="clear"><a href="">不错了，我好就都没有歇假了，你就知足吧！</a></P>
      </div>
      <div class="txt_b">
        <P><font class="L">2008-09-05 <a href="">pawa</a></font><font class="R"><a class="red_underline" href="">删除</a></font></P>
        <P class="clear"><a href="">能有个假期真好啊！</a></P>
      </div>
      <div class="txt_b">
        <P><font class="L">2008-09-05 <a href="">xiao-fox</a></font><font class="R"><a class="red_underline" href="">删除</a></font></P>
        <P class="clear"><a href="">不错了，我好就都没有歇假了，你就知足吧！</a></P>
      </div>

    </div>
  </div>

  <div class="R">
    <div class="p_search">
      <div class="tit"><h6>查找好友</h6></div>
      <div class="border">
        <form><input name="keyword" type="text" value="输入关键字" size="27" maxlength="27">
          <input class="button" name="search" type="button" value="搜 索">
        </form>
      </div>
    </div>

    <div class="friend">
      <div class="tit L"><h6 class="L"><font class="L">我的好友(30)</font><font class="R"><a class="red_underline" href="">全部好友</a></font></h6></div>
      <div class="friend_m border">
        <div class="friend_b L">
          <a href=""><img class="L" src="images/pic_friend.gif"/></a>
          <p class="L">昵称：<a href="">qing qing cao</a></p>
          <ul class="L">
            <li><a href=""><img class="rss" src="images/ico_message.gif"/></a><a href="">发纸条</a></li>
            <li><a href=""><img class="rss" src="images/ico_rss.gif"/></a><a href="">订阅</a></li>
          </ul>
        </div>

        <div class="friend_b L">
          <a href=""><img class="L" src="images/pic_friend.gif"/></a>
          <p class="L">昵称：<a href="">qing qing cao</a></p>
          <ul class="L">
            <li><a href=""><img class="rss" src="images/ico_message.gif"/></a><a href="">发纸条</a></li>
            <li><a href=""><img class="rss" src="images/ico_rss.gif"/></a><a href="">订阅</a></li>
          </ul>
        </div>

        <div class="friend_b L">
          <a href=""><img class="L" src="images/pic_friend.gif"/></a>
          <p class="L">昵称：<a href="">qing qing cao</a></p>
          <ul class="L">
            <li><a href=""><img class="rss" src="images/ico_message.gif"/></a><a href="">发纸条</a></li>
            <li><a href=""><img class="rss" src="images/ico_rss.gif"/></a><a href="">订阅</a></li>
          </ul>
        </div>

        <div class="friend_b L">
          <a href=""><img class="L" src="images/pic_friend.gif"/></a>
          <p class="L">昵称：<a href="">qing qing cao</a></p>
          <ul class="L">
            <li><a href=""><img class="rss" src="images/ico_message.gif"/></a><a href="">发纸条</a></li>
            <li><a href=""><img class="rss" src="images/ico_rss.gif"/></a><a href="">订阅</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</div><!--m_r-->
