<div class="main" style="display:none;position:absolute;z-index:500px;" id="friend_list">
  <div class="bt">&nbsp;请选择发送对象</div>
  <div class="name">
    <ul>
      <% for friend in @firends %>
        <% fri = User.find(friend.friend_id) %>
        <li><input type="radio" value="<%= fri.user_name%>" name="user_id" onclick="change_friend(this)"/><%=fri.real_name%></li>
      <%end%>
    </ul>
    <input type='hidden' name="selected_friend_name" id="selected_friend" value="">
  </div>
  <div class="sel">&nbsp;
    <input type='button' name="确认" onclick="select_friend();" value="确认">
    <input type='button' name="确认" onclick="Element.hide('friend_list')" value="取消">
  </div>
</div>