<div class="m_l L">			
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--p><font style="float:left;"><a class="red_underline" href="">[更改头像]</a></font><font style="float:right;"><a class="red_underline" href="">[编辑我的资料]</a></font></p-->
  </div>
  
  <!--div class="visitor">

                                <div class="tit border"><h6>最新会员</h6></div>
                                <div class="v_m">
                                        <div class="v_info L">
                                                <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
                                                <p class="L">昵称：<a href="">xiao-fox</a></p>
                                                <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
                                        </div> 
                                        <div class="v_info L">

                                                <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
                                                <p class="L">昵称：<a href="">pawa</a></p>
                                                <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
                                        </div> 
                                        <div class="v_info L">
                                                <a href=""><img class="L" src="/images/pic_visitor.gif"/></a>
                                                <p class="L">昵称：<a href="">qing qing cao</a></p>

                                                <p class="L"><a href=""><img class="add" src="/images/ico_add.gif"/></a><a href="">加为好友</a></p>
                                        </div> 
                                </div>
                        </div-->
                        
</div> <!--m_l-->
                
<div class="m_r">
  
  <%= render :partial => "/manage/gifts/gift_menu" %>
                          
  <%= render :partial => "/manage/gifts/form" %>
                                    
  </div>
  
</div><!--m_r-->