<div class="m_l L">			
  <div class="face L">
    <img class="border" src="/images/pic_big_none.gif"/>
    <!--p><font style="float:left;"><a class="red_underline" href="">[更改头像]</a></font><font style="float:right;"><a class="red_underline" href="">[编辑我的资料]</a></font></p-->
  </div>

                        
</div> <!--m_l-->
                
<div class="m_r">
  
  <%= render :partial => "/manage/gifts/gift_menu" %>
<%=@notice%>
                                    
  </div>
  
</div>