<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li class="hot"><a href="/manage/regards/send_for">问候好友</a></li>
        <li><a href="/manage/regards/receive">好友的问候</a></li>
        <li><a href="/manage/regards/send_regards">对好友的问候</a></li>
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div>