<div class="tabs6">
  <ul>
    <li <% if action_name == 'send_for' %> class="tabs66" <%end%>><a href="/manage/regards/send_for" title="打招呼"><span>打招呼</span></a></li>
    <li <% if action_name == 'receive' %> class="tabs66" <%end%>><a href="/manage/regards/receive" title="好友的问候"><span>好友的问候</span></a></li>
    <li <% if action_name == 'send_regards' %> class="tabs66" <%end%>><a href="/manage/regards/send_regards" title="对好友的问候"><span>对好友的问候</span></a></li>
  </ul>
</div>