<%=  render :partial => "/manage/share/left" %>
                
<div class="m_r">
  
  <%= render :partial => "/manage/regards/regard_menu" %>
                          
  <%= render :partial => "/manage/regards/form" %>
                                    
  </div>
  
</div><!--m_r-->