<html>
<head>
<title>MTA</title>
<meta name="keywords" content="trade association development north alabama international trade global marketplace non-profit membership organization transportation port of huntsville AL">
<META NAME="description" CONTENT="Contact The North Alabama International Trade Association, MTA, a non-profit membership organization committed to increasing knowledge, interest and activity in international trade in North Alabama, and to be a catalyst for trade development and growth opportunities.">
<meta name="revisit-after" content="2 days">
<meta name="ROBOTS" content="all">
<meta name="Distribution" content="Global">
<meta name="Other.Subject" content="trade">
<meta name="Other.Subject" content="international">
<meta name="Other.Subject" content="north alabama">
<meta name="Other.Subject" content="global development">
<meta name="Other.Subject" content="non-profit">
<meta name="Other.Subject" content="transportation">
<meta name="Other.Subject" content="international trade">

<meta name="Publisher" content="MTA">
<meta name="HTTP.Language" content="English">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- ImageReady Preload Script (naita_homepageFinalF.psd) -->
<script type="text/javascript">
<!--
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImagesArray(array) {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<array.length; i+=2) {
			document[array[i]].src = array[i+1];
		}
	}
}

function changeImages() {
	changeImagesArray(changeImages.arguments);
}

function toggleImages() {
	for (var i=0; i<toggleImages.arguments.length; i+=2) {
		if (selected == toggleImages.arguments[i])      changeImagesArray(toggleImages.arguments[i+1]);
	}
}

var selected = '';
var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		hp_joinnow_over = newImage("/assets/mta/images/hp_joinnow-over.gif");
		preloadFlag = true;
	}
}

// -->

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<!-- End Preload Script -->
<link href="/assets/mta/styles_naita.css" rel="stylesheet" type="text/css">
<script type="text/javascript" language="JavaScript1.2" src="/assets/mta/scripts/stmenu.js"></script>
<style type="text/css">
<!--
body {
	margin-top: 0px;
}
-->
</style></head>
<body bgcolor="#FFFFFF" onload="preloadImages();MM_preloadImages('/assets/mta/images/joinnow-over.gif','/assets/mta/images/renewnow-button_01-over.gif')">
<a name="top"></a>

<table width="100%" height="9" background="/assets/mta/images/subpg_dotbar.gif" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>

</table>
<table width="100%" height="3"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#e9bd43"><img src="/assets/mta/images/spacer.gif" width="750" height="3"></td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td height="21" bgcolor="#00478a" class="menu">
        <a href="/" >MTA Home</a>
        <a href="/mta/dashboard" >Dashboard</a>
        <a href="/mta/events" >Events</a>
        <a href="/mta/newsletters">Newsletters</a>
        <a href="/mta/files" >Files</a>
        <a href="/mta/logout" >Logout</a>
      </td>
  </tr>

</table>
<table width="100%" height="3"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="3" background="/assets/mta/images/hp_horzbarcolors.gif" bgcolor="#00478A"><img src="/assets/mta/images/spacer.gif" width="750" height="3"></td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="33" height="8"></td>
    <td width="155" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/imgleft_contact.jpg" alt="Contact MTA" width="155" height="231">
      <table width="98" height="27" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_02">

        <tr>
          <td>&nbsp;<br>
<a href="https://web.memberclicks.com/mc/quickForm/viewForm.do?orgId=naita&formId=21130" target="_blank" onMouseOver="MM_swapImage('joinnowbutton','','/assets/mta/images/joinnow-over.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="/assets/mta/images/joinnow.gif" alt="Join Now!" name="joinnowbutton" width="98" height="27" vspace="3" border="0"></a></td>
        </tr>

      </table>

      <img src="/assets/mta/images/spacer.gif" width="20" height="8"></td>
    <td width="20" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="20" height="8"></td>
    <td valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="400" height="8" longdesc="/assets/mta/images/space.gif"><br>
      <%= yield %>
      <p class="normal">&nbsp;</p>
      <p class="normal">&nbsp;</p>
      <p class="normal">&nbsp;</p>

      <p class="normal">&nbsp;</p>
    </td>
    <td width="20" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="20" height="8"></td>
    <td width="166" valign="top" bgcolor="#FFFFFF"><h1><img src="/assets/mta/images/spacer.gif" width="166" height="18"><br>
        <img src="/assets/mta/images/relinfo_title.gif" alt="related information..." hspace="7" vspace="0" border="0" longdesc="/assets/mta/images/relinfo_title.gif"></h1>
      <table width="166" border="0" cellpadding="2" cellspacing="2">
        <tr>
          <td width="13"><img src="/assets/mta/images/arrow_right.gif" width="13" height="9"></td>
          <td class="newsitems"><a href="news/index.html">News &amp; Events</a></td>

        </tr>
        <tr>
          <td width="13"><img src="/assets/mta/images/arrow_right.gif" width="13" height="9"></td>
          <td class="newsitems"><a href="about/index.html">About Us</a></td>
        </tr>
        <tr>
          <td width="13"><img src="/assets/mta/images/arrow_right.gif" width="13" height="9"></td>
          <td class="newsitems"><a href="membership/index.html">Membership</a></td>

        </tr>
        <tr>
          <td width="13"><img src="/assets/mta/images/arrow_right.gif" width="13" height="9"></td>
          <td class="newsitems"><a href="partners/index.html">Partners</a></td>
        </tr>
      </table>
    <p class="newsitems">&nbsp;</p>    
	</td>
    <td width="80" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="80" height="8"></td>

  </tr>
</table>
<table width="100%" height="100"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" bgcolor="#FFFFFF"><p><img src="/assets/mta/images/spacer.gif" width="640" height="12"></p>
      <p class="copyright"><a href="contact.html#top"><img src="/assets/mta/images/arrow_up.gif" alt="top of page" width="13" height="9" border="0" align="absmiddle" longdesc="/assets/mta/images/arrow_blue.gif"></a> <a href="contact.html#top">top of page</a></p>
      <p class="copyright"><a href="about/index.html">About MTA</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="membership/index.html">Membership</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="news/index.html">News &amp; Events</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="partners/index.html">Partners</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="advocacy/index.html">Advocacy</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="awards/index.html">Awards</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="resources.html">Resources</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="contact.html">Contact Us</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a href="sitemap.html">Sitemap</a>&nbsp; :&nbsp; <a href="http://www.naita.org/index.html">Home</a> </p>

      <p class="copyright">North Alabama International Trade Association (MTA)&nbsp;&nbsp;:&nbsp;&nbsp;P.O. Box 2457&nbsp;&nbsp;:&nbsp;&nbsp;Huntsville, AL 35804&nbsp;&nbsp;:&nbsp;&nbsp;256.532.3505&nbsp;&nbsp;:&nbsp;&nbsp;fax: 256.532.3704&nbsp;&nbsp;:&nbsp;&nbsp;<a href="mailto:naita@naita.org">naita@naita.org</a><br>
    Copyright 2007 MTA. All Rights Reserved. <a href="contact.html">Contact MTA</a></p>

    <p align="center" class="copyright">&nbsp; </p></td>
    <td width="100" valign="top" bgcolor="#FFFFFF"><img src="/assets/mta/images/spacer.gif" width="100" height="8"></td>
  </tr>
</table>
<p>&nbsp;</p>

</body>
</html>
