<div class="tabs6">
  <ul>
    <li <%if controller_name =~ /themes/ %> class="tabs66" <%end%>><a href="/manage/themes" title="模板设置"><span>模板设置</span></a></li>
    <li <%if controller_name =~ /sidebar/ %> class="tabs66" <%end%>><a href="/manage/sidebars" title="栏目管理"><span>栏目管理</span></a></li>
    <li <%if controller_name =~ /blog_config/ %> class="tabs66" <%end%>><a href="/manage/blog_configs" title="博客设置"><span>博客设置</span></a></li>
  </ul>
</div>