<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Mush Platform Administration Console</title>
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/global.css' type='text/css' />
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/admin.css' type='text/css' />
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/admin_menu.css' type='text/css' />
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/colors_fresh.css' type='text/css' />
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/scaffold.css' type='text/css' />
  
  <!--[if gte IE 6]>
  <link rel='stylesheet' href='/plugin_assets/mush_admin/stylesheets/ie.css?version=2.5.1' type='text/css' />
  <![endif]-->
  <style type="text/css">* html { overflow-x: hidden; }</style>
  <style type='text/css' media='all'>
    @import '/plugin_assets/mush_admin/stylesheets/thickbox.css';
    div#TB_title {
            background-color: #222222;
            color: #cfcfcf;
    }
    div#TB_title a, div#TB_title a:visited {
            color: #cfcfcf;
    }
  </style>

  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/fckeditor/fckeditor.js" type="text/javascript"></script>
  <script src="/plugin_assets/mush_admin/javascripts/application.js" type="text/javascript"></script>
  <script>
    function set_current_channel(channel){
      $(channel).className = 'current';
    }
  </script>
</head>

<body class="wp-admin ">
    <div id="wpwrap">
    <div id="wpcontent">
    
    <div id="wphead">
        <h1>Mush Platform<span id="viewsite"><a href="/" target="_blank">Visit Site</a></span></h1>
    </div>
    
    <div id="user_info">
      <p>
        Howdy, <a href="#"><%= session[:user].user_name %></a>! | 
        <a href="/logout?admin=true" title="Log Out">Log Out</a> | 
        <a href="http://wiki.mushplatform.org">Help</a> | 
        <a href="http://forum.mushplatform.org">Forums</a>
      </p>
    </div>
    
    <ul id="dashmenu">
	<li><a href='/admin'>Dashboard</a></li>
    </ul>

    <ul id="nav">
      <li><a href="#nogo">Home</a></li>
      <%= do_extensions('MushAdmin::AddMainmenu') %>
      <li><a href="#nogo">About us &#187;<!--[if gte IE 7]><!--></a><!--<![endif]-->
          <!--[if lte IE 6]><table><tr><td><![endif]--><ul>
                  <li><a href="#nogo">Who we are</a></li>
                  <li><a href="#nogo">What we do</a></li>

                  <li><a href="#nogo">Where to find us</a></li>
          </ul><!--[if lte IE 6]></td></tr></table></a><![endif]-->
      </li>
    </ul>

    <ul id="submenu">
      <%#= do_extensions('mush_admin_add_submenu') %>
    </ul>

    <div id='update-nag'>&nbsp;</div>

    <div id="wpbody">

      <div class="wrap">
          <%= yield %>
      </div><!-- wrap -->

    </div><!-- wpbody -->
    </div><!-- wpcontent -->
    </div><!-- wpwrap -->
    
    <div id="footer">
      <p>
        Thank you for creating with <a href="http://mushplatform.org/">Mush Platform</a> | 
        <a href="http://code.google.com/p/mushplatform">Documentation</a> | 
        <a href="http://group.google.com/group/mushplatform">Feedback</a> | 
        <strong><a href="http://code.google.com/p/mushplatform">Version 0.1</a></strong>
      </p>
    </div>
    
</body>
</html>
