<h1>Editing menu_bar</h1>

<%= error_messages_for :menu_bar %>

<% form_for(@menu_bar) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @menu_bar %> |
<%= link_to 'Back', menu_bars_path %>
