<div class="module">
<h2 class='sidebar-header'><a href="/photos">我的相册</a></h2>
<div class='sidebar-content'>
<ul>
{% for entry in entries %}
   <li>
      <a href="/photos/{{entry.id}}" title="点开查看大图"><img src="{{entry.thumbnail_link}}"></a>
   </li>
{% endfor %}
</ul>
</div>
</div>