<div class="person_menu">
  <%=  render :partial => "/manage/share/person_menu"%>
  <div class="p_m2">
    <div class="m2_bg">
      <ul class="L">
        <li><a href="/manage/user_profiles">我的资料</a></li>
        <!--li><a href="">我的积分</a></li>
        <li><a href="">好友</a></li>
        <li><a href="">圈子</a></li>
        <li><a href="">小纸条</a></li-->
      </ul>
    </div>
  </div>
  <div class="shadow"></div>
</div><!--person menu -->