<%=  render :partial => "/manage/share/left" %>

<div class="m_r">

<!--person_menu-->
<%=  render :partial => "/manage/user_profiles/profile_menu" %>
<!--person_menu-->
<%= render :partial => "/manage/user_profiles/form" %>
  
</div><!--m_r-->
