<div id="friend_link">
  <form action="/manage/sidebars/<= file_name>/edit" method="get" onsubmit="post_sidebar_form(this);return false;">
    <textarea name="sidebar[cotent]"></textarea>
    <input type="submit" value="提交">
    <span  id='onload_img' style='display:none;'><img src='/images/spinner.gif' /></span>
  </form>
</div>