<h3 class='sidebar-title'>博客类别</h3>
<div class='static-body'>
<ul>
{% for entry in entries %}
   <li><a href="/?category_id={{entry.id}}" title="{{entry.name}}">{{entry.name}}</a></li>
{% endfor %}
</ul>
</div>