<div class="module">
<h3 class='sidebar-header'>日志分类</h3>
<div class='sidebar-content'>
<ul>
{% for entry in entries %}
   <li><a href="/categories/{{entry.id}}/articles" title="{{entry.name}}">{{entry.name}}</a></li>
{% endfor %}
</ul>
</div>
</div>